Checks: '-*,
    bugprone-unchecked-optional-access,
    -modernize-use-nullptr,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    readability-identifier-naming
    '

CheckOptions:
-   key: readability-function-cognitive-complexity.Threshold
    value: 25
-   key: readability-function-size.LineThreshold
    value: 60
-   key: readability-function-size.ParameterThreshold
    value: 6

HeaderFilterRegex: (?!^subprojects).*

WarningsAsErrors: '*'
